# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.eggs
*.env
.env/
venv/
ENV/
env/
*.env
*.venv

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints

# VS Code
.vscode/

# Data and model files
*.h5
*.json
*.csv
*.tsv
*.xls
*.xlsx
*.db
*.sqlite
*.log
*.pickle
*.joblib
*.npy
*.npz

# OS files
.DS_Store
Thumbs.db

# Uploads and outputs
uploads/

# HTML and browser cache
*.html
*.mhtml
*.webp

# Batch files
*.bat

# Misc
*.bak
*.tmp
*.swp
*.swo

# Ignore models directory except class_indices.json
models/
!models/class_indices.json

# Ignore Rice Leaf Disease Images
Rice Leaf Disease Images/
